.btn_container {
    background-color: rgba(75, 86, 96, 0.585);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn_container:hover {
    background-color: rgba(75, 86, 96, 0.873);
}