.btn_container {
    background-color: rgba(207, 207, 207, 0.585);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: 700;
}

.btn_container:hover {
    background-color: rgba(140, 145, 150, 0.873);
}